internal/c/c_compiler

*.o
*.a
*.exe
*.bas
internal/config*.txt
internal/config.ini

internal/version.txt
tempfoldersearch.bin
internal/c/mingw32
internal/c/mingw64
internal/c/qbx[2-9].cpp
*.ttf
/run_qb64.sh
/qb64
