internal/c/c_compiler
internal/temp*
*.o
*.a
*.exe
*.bas
internal/config*.txt
internal/config.ini
internal/help
!internal/support/**
internal/commit.txt
tempfoldersearch.bin
internal/c/qbx[2-9].cpp
*.ttf
/run_qb64pe.sh
/qb64pe
mingw32.exe
mingw64.exe
.vscode
.DS_Store
settings
source/qb64pe_start.command
.fake
libraries
LibExpSource
