internal/c/c_compiler
internal/temp*
*.o
*.a
*.exe
*.bas
internal/config*.txt
internal/config.ini
internal/help
internal/commit.txt
tempfoldersearch.bin
internal/c/qbx[2-9].cpp
*.ttf
/run_qb64.sh
/qb64
mingw32.exe
mingw64.exe
.vscode
